.create-blog{
    padding-top: 40px;
    .title{
        font-size: 18px;
        font-weight: bold;
        margin: 0;
        margin-bottom: 20px;
        text-align: center;
    }

    .button-action{
        display: flex;
        flex-direction: row;
        margin-right: 0;
        margin-left: auto;
        width: 200px;
    }
}