.main-app-wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    .content-wrapper{
        flex: 1;
        max-width: 1200px;
        width: 100%;
        margin: auto;
    }
}